repos:
  - repo: local
    hooks:
      - id: swift-format
        name: swift-format
        entry: swift format format -rip .
        language: system
        types: [swift]
        pass_filenames: false